<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/4233/PNG/512/rubble_head_canine_patrol_paw_patrol_icon_263846.png">
    <title>My Django Project</title>
</head>
<body>
    <!-- Hello Python Team -->
     <h1> Hello Python Team</h1>
     <br>
     <h2> Hello Python Team</h2>
     <h3> Hello Python Team</h3>
     <h4> Hello Python Team</h4>
     <h5> Hello Python Team</h5>
     <h6> Hello Python Team</h6>
     <hr>

     <img src="https://t4.ftcdn.net/jpg/04/96/08/35/360_F_496083588_WyQmORevpFpcbc4Xn9rCmgIp1wnU2LH0.jpg" alt="">

     <ul>
        <li>Ul N1</li>
        <li>Ul N2</li>
        <li>Ul N3</li>
        <li>Ul N4</li>
        <li>Ul N5</li>
     </ul>

     <button> <li>Ul N1</li> </button>
     <button> <li>Ul N2</li> </button>
     <button> <li>Ul N3</li> </button>
     <button> <li>Ul N4</li> </button>
     <button> <li>Ul N5</li> </button>

    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>

    
    <!-- Inputs and labels are connected with id and for attributes -->
     <br/>  <br/>  <br/>
    <input type="radio" id ="r1">
    <label for="r1">Choice1</label>
    <br/>
    <input type="radio" id="r2">
    <label for="r2">Choice2</label>
    
    
    <!--A submit button is frequently used to send the data in the form to a database.-->
    <br/>  
    <br/>  
    <br/>
    <br/>
    <form>
        <label for="t1">Name: &emsp; </label>
        <input type="text" id="t1">
        <input type="submit">
    </form>

    <br/>
    <form>
        <label for="t2">SurName:</label>
        <input type="text" id="t2">
        <input type="submit">
    </form>
    

<br/>  
<br/>
<form id="myForm">
    <label for="city">Enter city:</label>
    <input type="text" id="city"></br></br>
    <label for="country">Enter country:</label>
    <input type="text" id="country"></br></br>
    <input type="submit">
</form>
    
<div id="table">
    <h2>Database Simulation</h2>
    <table id="dataTable">
        <tr>
        <th>city</th>
        <th>country</th>
        </tr>
    </table>
</div>




     



</body>
</html>