<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/4233/PNG/512/rubble_head_canine_patrol_paw_patrol_icon_263846.png">
    <title>My Django Project</title>
</head>
<body>
    <!-- Hello Python Team -->
     <h1> Hello Python Team</h1>
     <br>
     <h2> Hello Python Team</h2>
     <h3> Hello Python Team</h3>
     <h4> Hello Python Team</h4>
     <h5> Hello Python Team</h5>
     <h6> Hello Python Team</h6>
     <hr>

     <img src="https://t4.ftcdn.net/jpg/04/96/08/35/360_F_496083588_WyQmORevpFpcbc4Xn9rCmgIp1wnU2LH0.jpg" alt="">

     <ul>
        <li>Ul N1</li>
        <li>Ul N2</li>
        <li>Ul N3</li>
        <li>Ul N4</li>
        <li>Ul N5</li>
     </ul>

     <button> <li>Ul N1</li> </button>
     <button> <li>Ul N2</li> </button>
     <button> <li>Ul N3</li> </button>
     <button> <li>Ul N4</li> </button>
     <button> <li>Ul N5</li> </button>

    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>
    <a href="https://www.youtube.com/"> <button> 1 </button> </a>

    



     



</body>
</html>